<!-- templates/Manager/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MedScheduler{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    {% load static %}
    <!-- Подключение Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ваши стили -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Подключение дополнительных стилей, если есть -->
</head>
<body>
    <!-- Обертка для Flexbox -->
    <div class="d-flex flex-column min-vh-100">
        <!-- Навигационная панель -->
        {% include 'Manager/navbar.html' %}

        <!-- Основной контент страницы -->
        <main class="flex-fill">
            {% block content %}
            {% endblock %}
        </main>

        <!-- Футер -->
        {% include 'Manager/footer.html' %}
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Подключение дополнительных скриптов, если есть -->
<!-- Подключение AOS JS -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000, // Время анимации в миллисекундах
        once: true, // Анимация будет проигрываться только один раз
    });
</script>

</body>
</html>
