{% extends 'Manager/base.html' %}

{% block title %}Список операций{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Список операций</h2>
    <a href="{% url 'surgery_create' %}" class="btn btn-success mb-3">Добавить операцию</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название операции</th>
                <th>Дата и время</th>
                <th>Операционная</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for surgery in surgeries %}
            <tr>
                <td>{{ surgery.surgery_name }}</td>
                <td>{{ surgery.start_time }}</td>
                <td>{{ surgery.operating_room.name }}</td>
                <td>
                    <a href="{% url 'surgery_update' surgery.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                    <a href="{% url 'surgery_delete' surgery.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Операции не найдены.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
